<div class="row no-gutter">
	<div class="col-xs-6">
		<div class="m-r-xxs">
			<button
			class="btn btn-lg btn-info btn-block"
			ng-disabled="!item.new_tracking.receipt"
			ng-click="save()">
			<i class="fa fa-check pull-left"></i>
			Save
			</button>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="m-l-xxs">
			<button
			class="btn btn-lg btn-success btn-block"
			ng-disabled="!item.new_tracking.receipt"
			ng-click="addmore()">
			<i class="fa fa-plus pull-right"></i>
			Add More
			</button>
		</div>
	</div>
</div>