<form class="bs-example form-validation" ng-submit="update()">
	<div class="form-group m-b-xs">
		<div class="input-group col-xs-12">
			<span class="input-group-addon btn-info" ng-click="randomReceipt()">
			<i class="fa fa-pencil"></i>
			</span>
			<input type="text" class="form-control input-lg" ng-model="item.new_tracking.receipt" placeholder="Receipt">
			<span class="input-group-btn" ng-show="!item.new_tracking.receipt && !numberUpdated">
			<button class="btn btn-info btn-lg" type="button" ng-click="scanReceipt('item.new_tracking.receipt')">Scan</button>
			</span>
		</div>
	</div>
	<div class="form-group m-b-xs" ng-show="setting.carrier_tracking">
		<div class="input-group col-xs-12">
			<input type="text" class="form-control input-lg" ng-model="item.new_tracking.carrier_tracking" placeholder="Carrier Tracking">
			<span class="input-group-btn" ng-show="!item.new_tracking.carrier_tracking && !numberUpdated">
			<button class="btn btn-info btn-lg" type="button" ng-click="scanCarrierTracking()">Scan</button>
			</span>
		</div>
	</div>
	<div class="form-group m-b-xs" ng-show="setting.note">
		<textarea type="text" class="form-control input-lg" ng-model="item.new_tracking.note" placeholder="Note"></textarea>
	</div>
	<div class="form-group m-b-xs" ng-show="setting.package_dimensions">
		<button class="btn btn-info btn-block btn-lg" type="button" ng-click="packageDetail()">Add Package Dimensions</button>
	</div>
	<div class="form-group m-b-xs" ng-show="setting.location">
		<div class="input-group col-xs-12">
			<select ng-model="item.new_tracking.location" class="form-control input-lg">
				<option value="">Location</option>
				<option
					ng-selected="item.new_tracking.location==location.id"
					ng-repeat="location in locations"
					ng-value="location.id">
					{{ location.name }}
				</option>
			</select>
			<span class="input-group-btn" ng-show="!item.new_tracking.location">
			<button class="btn btn-info btn-lg" type="button" ng-click="scanLocation()">Scan</button>
			</span>
		</div>
	</div>
	<div class="form-group m-b-xs" ng-show="setting.over_write">
		<button class="btn btn-info btn-block btn-lg" type="button" ui-sref="app.over_write_defaults">Over Write Defaults</button>
	</div>
	<div class="form-group m-b-xs">
		<div style="display: inline-block" ng-show="setting.print_label">
			<button class="btn btn-lg btn-icon btn-info pull-left" ng-click="takePhoto()">
			<i class="fa fa-camera"></i>
			</button>
		</div>
		<div style="display: inline-block" class="relative" ng-show="setting.upload_pic">
			<input type="file" id="uploadImage" accept="image/*" onchange="angular.element(this).scope().addFile(this)"/>
			<button class="btn btn-lg btn-icon btn-info pull-left">
			<i class="fa fa-folder"></i>
			</button>
		</div>
		<div style="display: inline-block" ng-show="setting.signature" class="pull-right">
			<button class="btn btn-info col-xs-12 btn-lg" type="button" ng-hide="item.new_tracking.signature" ng-click="signatureDetail()">
			Add Signature
			</button>
			<button class="btn btn-danger col-xs-12 btn-lg" type="button" ng-show="item.new_tracking.signature" ng-click="removeSignature()">
			Remove Signature
			</button>
		</div>
	</div>
</form>
<div class="row no-gutter">
	<div class="col-xs-6">
		<div class="m-r-xxs relative" ng-repeat="(key, photo) in item.new_tracking.photos">
			<div class="close-button">
				<button class="btn btn-rounded btn-lg btn-icon btn-danger" ng-click="deletePhoto(key)">
				<i class="fa fa-times"></i>
				</button>
			</div>
			<img ng-src="{{ photo }}" width="100%" />
		</div>
	</div>
	<div class="col-xs-6" ng-show="item.new_tracking.signature">
		<div class="m-l-xxs pull-right">
			<img ng-src="{{ item.new_tracking.signature }}" class="form-signature" style="max-width:100%" />
		</div>
	</div>
</div>